/* html{
    width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  body{
    margin: 0;
    box-izing: border-box;
    width: 100vw;
  }*/
  .square{
    display: flex;
    margin-top: auto;
  }
  .animation{
    box-sizing: border-box;
    width: 100vw;
    height: 300px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(180deg, rgb(0, 4, 255), #d0e); */
  }
  .heading-container{
    margin-right: 35%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    font-size: 20px;
    color: white;
}

.square-container{
    box-sizing: border-box;
    width: 100vw;
    height: 300px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* background: linear-gradient(180deg, #f08, #d0e); */
    text-align: center;
    /* flex-grow: 1; */
}
.animated-square{
    background-color: white;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    padding: 0px;
    margin-bottom: 0;
    margin-right: 20px;
    object-fit: cover;
    /* padding: 20px; */
}
.animated-square img{
    object-fit: cover;
}