.square {
  display: flex;
  margin-top: auto;
}
.animation {
  box-sizing: border-box;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 4, 255), #d0e);
}

.heading-container {
  margin-right: 35%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  font-size: 20px;
  color: purple;
}

.square-container {
  box-sizing: border-box;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.animated-square {
  background-color: white;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  padding: 0px;
  margin-bottom: 0;
  margin-right: 20px;
  object-fit: cover;
}

.animated-square img {
  object-fit: cover;
}
