body {
  font-family: Arial, sans-serif;
  background-color: #f2e6ce;
  color: #d96236;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.submission-box {
  flex: 1;
  background-color: #f2e6ce;
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.submission-box h3 {
  color: #103b40;
}

.submission-box input[type='text'],
.submission-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #103b40;
  border-radius: 5px;
}

.submission-box input[type='submit'] {
  background-color: #103b40;
  color: #f2e6ce;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.post {
  background-color: #f2e6ce;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #d98c5f;
  border: 1px solid #103b40;
  max-width: 1000px;
}

.post {
  background-color: #f2e6ce;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #d98c5f;
}

.post h3 {
  color: #103b40;
}

.comments {
  margin-top: 20px;
}

.comment {
  background-color: #d96236;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #f2e6ce;
}

.comment p {
  margin: 0;
}

.comment-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-form input[type='text'] {
  flex: 1;
  padding: 10px;
  border: 1px solid #103b40;
  border-radius: 5px;
  margin-right: 10px;
}

.comment-form input[type='submit'] {
  background-color: #103b40;
  color: #f2e6ce;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
